torch==2.8.0+cpu
tensorflow==2.19.0
keras==3.9.2
transformers==4.56.2
huggingface-hub==0.35.0
tokenizers==0.22.1
safetensors==0.6.2

numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
scikit-learn==1.6.1
matplotlib==3.10.1

nltk==3.9.1
gensim==4.3.3
konlpy==0.6.0

selenium==4.35.0
webdriver-manager==4.0.2

python-dotenv==1.1.1
requests==2.32.3
tqdm==4.67.1
jsonformer==0.12.0
